body {
  text-align: center;
}

#result-button {
  padding: 10px;
  font-size: 1em;
  background-color: wheat;
  border-radius: 5px;
  border-color: whitesmoke;
  margin-top: 20px;
}

#add-menu {
  width: 150px;
  padding: 10px;
  font-size: 1em;
}

#add-button {
  padding: 10px;
  background-color: wheat;
  border-color: white;
  border-radius: 3px;
}

#menu-list {
  margin: 20px;
  font-size: 1.2em;
}

.menu-items {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: #acd879;
}
